
.img{
   width: 30%;
   height: 100%;
   text-align: center;
   margin: 2px;
   margin-bottom: 2px;
   perspective: 500;
   animation: img_ani 12s;
   animation-iteration-count:2;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.css3btn{
    position: absolute;
    width:20%;
    height: 15%;
    left: 76%;
    top: 80%;
    border: none;
    background-color: #ff6699;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dm{
    position: absolute;
    width: auto;
    height: 5%;
    left: 0;
    top: 85%;
    border: 2px solid #ff6699;
    border-radius: 8px;
    background-color: transparent;
    
}
#discription{
    color: #000000;
    width:auto;
    height: 10%;
    position: absolute;
    text-align: center;
    left: 10%;
    bottom: 0;
}

#dm1{animation:dm1_ani 4s;animation-iteration-count:infinite}
#dm2{animation:dm2_ani 4s;animation-iteration-count:infinite; animation-delay:1s}
#dm3{animation:dm2_ani 4s;animation-iteration-count:infinite; animation-delay:2s}
#dm4{ animation:dm2_ani 4s;animation-iteration-count:infinite; animation-delay:3s}
#dm5{ animation:dm2_ani 4s; animation-iteration-count:infinite;animation-delay:3.5s}
@keyframes dm1_ani{from{top:85%}to{top:60%}}
@keyframes dm2_ani{from{top:85%}to{top:60%}}
@keyframes dm3_ani{from{top:85%}to{top:60%}}
@keyframes dm4_ani{from{top:85%}to{top:60%}}
@keyframes dm5_ani{from{top:85%}to{top:60%}}
#audio{
      position: absolute;
      left: 86%;
      top: 80%;
      border-radius: 50%;
      animation: audio_ani 10s;
      animation-iteration-count: infinite;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#box{
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    width:100%;
    height: 25%;
    border-radius: 5px;
    border: 2px solid #FF6699;
    animation: box_move_ani 12s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#dialog{
      position: absolute;
      width: 80%;
      height: 20%;
      left: 10%;
      top: 40%;
      border: 2px solid #ff6699;
      border-radius: 8px;
      background-color: transparent;
      animation: dialog_ani 12s;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#title{
      width: 100%;
      height: 20%;
      text-align: center;
      color: #000000;
      border-bottom: 2px solid #ff6699;
}
#wap_content{
      color: #000000;
}

@keyframes img_ani{
    from{transform:rotateY(0deg);}
    to{transform:rotateY(360deg);}
}
@keyframes box_move_ani{
    from{width:0px;}
    to{width:100%;}
}
@keyframes audio_ani{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}
@keyframes dialog_ani{
    from{transform:rotateX(90deg)}
    to{transform:rotateX(0deg)}
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
   
}